# System
export TERMINAL=termite
export BROWSER=brsr

# Custom
export GH=~/github/majestic
export PATH="$HOME/bin/:$HOME/apps/:$PATH"

# Old
#export OOO_FORCE_DESKTOP=gnome
#export XDG_CURRENT_DESKTOP=GNOME
#export GTK_IM_MODULE=ibus
#export XMODIFIERS=@im=ibus
#export QT_IM_MODULE=ibus

case $DESKTOP_SESSION in
    i3|i3wm|bspwm)
        ln -sfT "/usr/share/dbus-1/services/org.knopwob.dunst.service" "${XDG_DATA_HOME:-$HOME/.local/share}/dbus-1/services/org.freedesktop.Notifications.service"
    ;;
    cinnamon|cinnamon-session)
        ln -sfT "/usr/share/dbus-1/services/org.freedesktop.Notifications.service" "${XDG_DATA_HOME:-$HOME/.local/share}/dbus-1/services/org.freedesktop.Notifications.service"
    ;;
	mate)
		ln -sfT "/usr/share/dbus-1/services/org.freedesktop.mate.Notifications.service" "${XDG_DATA_HOME:-$HOME/.local/share}/dbus-1/services/org.freedesktop.Notifications.service"
    ;;
esac

