# System
export TERMINAL=termite
export BROWSER=brsr

# Custom
export GH=~/github/majestic
export PATH="$HOME/bin/:$PATH"

# Old
#export OOO_FORCE_DESKTOP=gnome
#export XDG_CURRENT_DESKTOP=GNOME
#export GTK_IM_MODULE=ibus
#export XMODIFIERS=@im=ibus
#export QT_IM_MODULE=ibus

