*.cache
*.bkp
*-bkp
*.old
menu.xml
mpd.log 
mpd.pid
mpd.state 
mpd.db
weathercfg.py
weathercfg.pyc
imapcfg.py
imapcfg.pyc
home/lucas/.config/i3/scripts/mail
home/lucas/.config/i3/scripts/wallpaper
home/lucas/.config/polybar/gmail/
__pycache__
