[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram
Comment=Official desktop version of Telegram messaging app
Categories=Network;
Keywords=messaging
TryExec=/usr/bin/telegram-desktop
Exec=/usr/bin/telegram-desktop -- %u
Icon=/usr/share/icons/evolvere-black-folders-dark-fallback/apps/64/telegram.svg
MimeType=x-scheme-handler/tg;
