[Desktop Entry]
Type=Application
Name=WhatsApp Desktop
Icon=/usr/share/icons/evolvere-dark-light-fallback/apps/64/whatsapp.svg
Exec=Whatsapp
Comment=WhatsApp for Desktop
Categories=Network;Chat;
Terminal=false
StartupNotify=true
