[Desktop Entry]
Name=Windows XP
Exec=VBoxManage startvm "Windows XP"
Icon=/home/lucas/.icons/places/disk.svg
Type=Application
Actions=Reiniciar;Desligar;

[Desktop Action Reiniciar]
Name=Reiniciar
Exec=VBoxManage controlvm "Windows XP" restart

[Desktop Action Desligar]
Name=Desligar
Exec=VBoxManage controlvm "Windows XP" poweroff
