[Unit]
Description=Google Drive service
After=local-fs.target network.target
 
[Service]
#Type=simple
Type=oneshot
ExecStart=/bin/sh -c "/usr/bin/google-drive-ocamlfuse -m '%h/drive'"
ExecStop=/bin/sh -c "/usr/bin/fusermount -u '%h/drive'"
#ExecReload=/usr/bin/killall -qw yandex-disk
#RestartSec=60
#Restart=always
 
[Install]
WantedBy=default.target
