[Desktop Entry]
StartupWMClass=yandex-browser-beta (/home/lucas/.config/yandex-browser-beta)
Name=Yandex Browser
TryExec=yandex-browser-beta
Exec=yandex-browser-beta
Icon=/home/lucas/.icons/apps/yandex-browser.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Network;
