html {
	background-color: #2E3440;
}

#terminal {
	background-color: #2E3440;
	border: 4px solid #5E81AC;
	width: 725px;
	height: 415px;
	margin: 134px auto 100px;
	box-shadow: 5px 5px 5px;
	padding: 20px;
	font-family: monospace;
	font-size: 14px;
}

.links {
	margin-top: 5px;
}

.directory {
	margin-bottom: 5px;
	color: #81A1C1; 
}

.blue-text {
	color: #81A1C1;
	font-weight: bold;
}

.magenta-text {
	color: #B48EAD;
}

.green-text {
	color: #A3BE8C;
}

a {
	text-decoration: none;
}

a:link {
	color: #81A1C1;
}

a:visited {
	color: #81A1C1;
}

a:hover {
	color: #81A1C1;
}

a:active {
	color: #81A1C1;
}

.spaced-link {
	margin-right: 25px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

      -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }