html {
	background-color: #2E3440;
}

#terminal {
	background-color: #2E3440;
	border: 4px solid #5E81AC;
	width: 700px;
	height: 500px;
	margin: 180px auto 100px;
	box-shadow: 5px 5px 5px;
	padding: 20px;
	font-family: monospace;
	font-size: 14px;
}

.links {
	margin-top: 5px;
}

.directory {
	margin-bottom: 5px;
	color: #81A1C1; 
}

.blue-text {
	color: #81A1C1;
	font-weight: bold;
}

.magenta-text {
	color: #B48EAD;
}

.green-text {
	color: #A3BE8C;
}

a {
	text-decoration: none;
}

a:link {
	color: #81A1C1;
}

a:visited {
	color: #81A1C1;
}

a:hover {
	color: #81A1C1;
}

a:active {
	color: #81A1C1;
}

.spaced-link {
	margin-right: 25px;
}

.container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin: 20px auto;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}

#pesquisa, .dirsearch { display: none; }
.logo { width: 400px; height: auto; }

#search::-webkit-search-cancel-button {
    background-image: url(https://wordassociations.net/image/200x/svg_to_png/Arnoud999_Right_or_wrong_5.png);
    /*content: ;*/
    position:relative;
    right:20px;    
}

/*https://www.google.com.br/search?dcr=0&source=hp&ei=eBhkWuBGg5nBBOCMoKgP&q=font+awesome&oq=font+awesome&gs_l=psy-ab.3...0.0.0.2118.0.0.0.0.0.0.0.0..0.0....0...1c..64.psy-ab..0.0.0....0.YTqbIE274_A*/